# Ignore any directory containing 'data' in the name
**/*data*/ 
**/*data*/**
.swp


# Common virtual environment folders
venv/
env/
.venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc

/Neural-Network-Experiments 
